/* ** STOPWATCH ** */
.timerBtn {
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#timerDisplay {
    font-size: 65px;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#timerContainer {
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: #222222;
}

/* ** JO-KEN-PO GAME ** */
#gameDiv {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgreen;
    text-align: center;
}
.gameBtn {
    line-height: 30px;
    width: 150px;
}
#playerTxt {
    color: blue;
}
#pcTxt {
    color: red;
}

/* ** TIC TAC TOE ** */
.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}